<div class="text-layout">
    <h1>Decimal pipe y porcentaje</h1>
    <p>
        Pipes incluídos en Angular - Usualmente en el Common Module.
    </p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="Ventas netas"
            subheader="del presente año"
        >
            <ul>
                <li>Número: <i class="pi pi-dollar"></i>{{ ventasNetas }}</li>
                <li>Número default pipe: <i class="pi pi-dollar"></i>{{ ventasNetas | number }}</li>
                <li>Número dos decimales pipe: <i class="pi pi-dollar"></i>{{ ventasNetas | number:'1.2-2' }}</li>
            </ul>
        </p-card>
    </div>
</div>