<div class="text-layout">
    <h1>Pipes básicos</h1>
    <p>
        Pipes incluídos en Angular - Usualmente en el Common Module.
    </p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="uppercase"
            [subheader]="nombreLower | uppercase"
        >
            {{ nombreLower | uppercase }}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="lowercase"
            [subheader]="nombreUpper | lowercase"
        >
            {{ nombreUpper | lowercase }}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="titlecase"
            [subheader]="nombreCompleto | titlecase"
        >
            {{ nombreCompleto | titlecase }}
        </p-card>
    </div>
</div>

<div class="text-layout">
    <h1>Date | Fecha | Pipe</h1>
    <p>
        Pipe para mostrar las fechas.
    </p>
</div>

<div class="grid">
    <div class="col-6">
        <p-card>
            <ul>
                <li>Fecha</li>
                <li>Fecha default</li>
                <li>Fecha 'short' format</li>
                <li>Fecha 'long' format</li>
                <li>Fecha custom format</li>
            </ul>

            <hr/>
            <ul>
                <li>Fecha 'long' 'GMT-6' format</li>
                <li>Fecha 'long' 'fr' (idioma francés) format</li>
            </ul>
        </p-card>
    </div>
    <div class="col-6">
        <p-card>
            <ul>
                <li>{{ fecha }}</li>
                <li>{{ fecha | date }}</li>
                <li>{{ fecha | date:'short' }}</li>
                <li>{{ fecha | date:'long' }}</li>
                <li>{{ fecha | date:'MMMM dd, yyyy h:mm a' }}</li>
            </ul>

            <hr/>
            <ul>
                <li>{{ fecha | date:'long':'GMT-6' }}</li>
                <li>{{ fecha | date:'long':'':'fr' }}</li>
            </ul>
        </p-card>
    </div>
</div>